ion-menu([content]='content')
  ion-header
    ion-toolbar
      ion-title Elite Schedule
  ion-content
    ion-list
      ion-list-header Navigate
      button(menuclose, ion-item, (click)='goHome()') Home
      button(menuclose, ion-item, (click)='goToTournaments()') Find a Tournament
    ion-list
      ion-list-header Favorites
      button(menuClose ion-item *ngFor="let fav of favoriteTeams" (click)="goToTeam(fav)") {{fav.team.name}}
// Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
ion-nav([root]='rootPage', #content, swipebackenabled='false')